<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    </head>

    <body>
        <div style="text-align:center;">
            <h2 style="padding-top: 140px;">Generating Notes...</h2>
            <div class="loader"></div>
        </div>
        

    </body>
</html>